 <form style="margin-top:110px">
   <label for="rankSelected" > Selecione o jogador que deseja alterar </label>
    <select class="form-control" name="rankSelected" [(ngModel)]="rankSelected" (ngModelChange)="onRankSelected($event)" >
       <option  *ngFor="let c of ranking " [value]="c.id"  >

         {{c.jogador.nome}}

       </option>

     </select>
   </form>

