
<form style="margin-top:110px">
    <label for="rankSelected" > Selecione o jogador que deseja alterar </label>
     <select class="form-control" name="rankSelected" [(ngModel)]="rankSelected" (ngModelChange)="onRankSelected($event)" >
        <option  *ngFor="let c of ranking " [value]="c.id"  >

          {{c.jogador.nome}}

        </option>

      </select>
    </form>

<form style="margin-top:110px">
  <div class="for-group ">
    <label  for="firstName">Nome</label>
    <input [(ngModel)]="firstName"  name="firstName" maxlength="100"  id="firstName" type="text" class="form-control" required="required" />

    <label for="vitorias">Vitoria</label>
    <input  [(ngModel)]="vitorias" name="vitorias" id="vitorias" type="number" min="0" max="99999" class="form-control" />

    <label for="partidas">Partidas</label>
    <input [(ngModel)]="partidas"  name="partidas" id="partidas" type="number" min="0" max="99999" class="form-control" />


  </div>

  <div class="for-group ">
      <button  name="botaoEnviar" id="botaoEnviar"  (click)="post(firstName,vitorias,partidas)"  class="btn btn-primary" style="margin-top:5px" >Criar/Atualizar Jogador</button>
    </div>

</form>


