<div style="text-align:center;">
<h2 >
  Rank ordenado de acordo com o número de vitórias
</h2>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Jogador</th>
      <th scope="col">Vitórias</th>
      <th scope="col">Partidas</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let c of ranking">
      <th scope="row">{{c.id}}</th>
      <td>{{c.jogador.nome}}</td>
      <td >{{c.vitorias}} </td>
      <td>{{c.partidas}}</td>
    </tr>

  </tbody>
</table>
</div>
